* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #D5E1EF;
    font-family: Outfit;
    font-style: normal;
    position: relative;
}

.qr-card {
    background-color: #FFFFFF;
    width: 32rem;
    height: 49.7rem;
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
    border-radius: 2rem;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.qr-card__image-container {
    background-image: url("images/image-qr-code.png");
    width: 28.8rem;
    height: 28.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 1.6rem;
}

.qr-card__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    margin: 0 1.6rem;
    padding: .8rem .3rem 0 .3rem;
}

.qr-card__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01875rem;
    color: #7D889E;
    margin: 1.6rem;
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    position: absolute;
    top: 100vh;
    left: 0;
    transform: translateY(-100%);
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}